
.nav-piece {
    color: #FFFFFF;
    text-transform: none;
    text-decoration: none;
    display: inline-block;
    padding: 15px 20px;
    position: relative;
  }

.logo-sze{
    width: 26px;
    min-height: 37px;
    max-height: auto;
}

  .nav-piece:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #FFFFFF;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  .nav-piece:hover:after { 
    width: 100%; 
    left: 0; 
  }

  .sea-btn {
    background-color: #e39774;
    color: #ffffff;
    transition: 0.25s all;
}

.sea-btn:hover {
    background-color: #f3a987;
    color: #eeeeee;
}